<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar class="toolbarNav">
    <mat-form-field appearance="outline">
      <mat-label>New Todo</mat-label>
      <input
        matInput
        (keydown.enter)="onEnterKeyPressed()"
        formControlName="todo"
      />
    </mat-form-field>
    <button
      [disabled]="!form.valid"
      type="submit"
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</form>
